{$CAREERACT_DOMAIN:localhost} {
	header {
		-Server
		Permissions-Policy "camera=(), geolocation=(), microphone=(self)"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
	}

	reverse_proxy web:3000
}
